.Contacts {
    padding: 2rem;
    display: block;
    text-align: center;
  }
  
  .Contacts h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin: center;
    color: white;
  }
  
  .Contacts p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
  }
  
  .Contacts form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

  }
  
  .Contacts input,
  .Contacts button {
    display: flex;
    height: 20px;
    margin: 0;
    width: 300px;
    justify-content: center;
    align-items:center;
    resize: both;
  }

  .Contacts textarea{
    width: 300px;
    height: 200px;
    resize: both;
  }

  .text-input{
    color:white;
    text-align: center;
  }
  .Contacts button {
    background:#4987d6 ;
  }