.header{
    background-color: black;
    padding: 1rem;
    color: rgb(217, 255, 127);
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.header h1{
    font-size: 4rem;
    align-items: center;
    padding: 10px;
    border: 50px;
    border-color: wheat;
    width:auto;
    margin: 0 auto;
}

.header nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style:none ;
    background-color: aliceblue;
    border: 50px;
    border-radius: none; 
}

.header a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header .about,.contact,.projects1{
    margin-right:.3em;
    display: flexbox;
    align-items: center;
    margin: 0 auto;
    height: fit-content;
}