.header h3{
    padding: 20px;
    color:white;
    font-size: 35px; 
    white-space: nowrap;
}
.header{
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.pic{
    max-width: 500px;
    height:auto;

}
p{
    white-space: nowrap;
}

@media(max-width:50%){
    p{
        white-space: normal;
    }
    h3{
        white-space: normal;
    }
}
@media(max-width:768px){
    img{
        max-width:80%;
        width: auto;
        height: auto;
    }
}
.header .text,p,h4{
    color:white;
    text-align:center;
    padding:none;
    line-height: 0;
}
h4{
    font-size: 20px;
    color: aquamarine;
}
.button{
    background:rgb(131, 49, 49);
    color:white;
    width: 125px;
    margin: 10px;
}

.icons button{
    box-shadow: 2px 2px 0 rgb(133, 133, 183);
    background-color: white;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 10px;
    border-radius: 10px;

}
.icons button:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: 0 0 0 rgb(133, 133, 183);
}