.Projects {
  display: block;
  align-content: center;
  text-align: center;
  }

  .Projects h2{
    color:azure;
    font-size: 35px;
  }
  
  .card {
    display: flex;
    padding:10px;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-evenly;
  }
  .card a {
    display: block;
    color: #007bff;
    font-size: 20px;
  }

  .card a:hover{
    opacity:0.8;
    background-color: white;
    transition: all ease-in-out 0.3s;
  }
  .card img{
    width: 175px;
  }
  