*{
  background-color: black;
}
.LinkContainer{
    display: flex;
    justify-content:center;
    padding:10px;
}
a{
  color:white;
  text-decoration:underline;
  margin: 10px;
  display:flexbox;
}

.Nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.LinkContainer, .name{
  color:white;
  font-size: 30px;
  font-style:oblique;
}